/* You can add global styles to this file, and also import other style files */
@import 'leaflet/dist/leaflet.css';

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, sans-serif;
}
